# Ignorar carpeta Contexto
Contexto/

# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
venv/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
